<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Wiki - {{room}}</title>
  <link href="/assets/style.css" media="all" rel="stylesheet" />
</head>

<div id="editor-container">
  <textarea id="editor" autofocus>{{text}}</textarea>

  <div id="footer">
    <a href="/">Home</a> | 
    <a href="/{{room}}">Back</a> | 
    <a href="http://tangosource.com">Tangosource</a>
  </div>

</div>



<script async src="/script.js" data-bundle='{{{bundle}}}'></script>

